.btns {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.btns > button {
  flex: 1;
  height: 50px;
}

.btns > button:not(:first-child) {
  margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 510px) {
  .btns {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  .btns > button {
  }

  .btns > button:not(:first-child) {
    margin: 0;
    margin-top: 10px;
  }
}
