.ratingDone {
  width: 85%;
}

.rates {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  max-width: 320px;
}

.commentInput {
  margin: 15px 0px !important;
}

.rateBtnBox {
  padding: 10px 0px;
}

.hide {
  display: none !important;
}

.rateButton {
  margin-right: 10px;
}
.rateBtn {
  margin: 0px 10px !important;
}

.otherQuestionsBtn {
  margin-top: 16px;
}

.myAnswerBtn {
  margin-top: 10px;
}
