/* question enroll form */
.enrollQuestion {
  width: 80vw;
  overflow-y: auto;
}

.questionEnrollForm {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.questionsContainer {
  width: 100%;
}

.dateInput {
  margin: 15px 0;
}

.td,
.th {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  line-height: 1.5rem;
}
.th {
  font-weight: 700;
}

.tr {
  border: 1px solid black;
}
