.btns {
  display: flex;
  flex-direction: column;

  width: 85%;
  max-width: 400px;
  height: 16vh;
}

.btns > button {
  height: 65px;
  font-size: 0.875rem;
  border-radius: 10px;
}

.btns > button:not(:first-child) {
  margin-top: 15px;
}

.todayBtn {
  flex: 0.55;
}

.myAnswerBtn {
  flex: 0.45;
}

@media (min-width: 510px) {
  .btns > button {
    height: 65px;
    font-size: 1.125rem;
    border-radius: 10px;
  }
}
