.card {
  margin: 0px auto;
  width: 100%;
  /* max-width: 400px; */

  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 8px 13px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.card:not(:first-child) {
  margin-top: 14px;
}

.keywordText {
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.075em;
  margin-bottom: 5px;
  color: #bababa;
  font-size: 12px;
  margin-left: 4px;
}

.questionText {
  width: 100%;

  color: #00a3ff;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin-bottom: 0.25em;
  white-space: pre-line;
}

.answerText {
  color: #555555;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  white-space: pre-line;
}
