.myAnswersContainer {
  width: 100%;
  height: 100%;

  padding: 0px 15px;
  padding-top: 60px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weekText {
  font-size: 20px;
  font-weight: 700;
}

.msg {
  font-size: 19px;
  font-weight: 700;
  margin-top: 30px;
}

.grassGrid {
  width: 100%;
  max-width: 300px;

  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: repeat(5, 1fr);

  column-gap: 5px;
  row-gap: 10px;

  margin: 25px 0px;
}
.grassGrid > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grassItem {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #00a3ff;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #00a3ff;
}

.grassItem.colored {
  background-color: #00a3ff;
  color: white;
}

.monthText {
  font-size: 12px;
  margin-bottom: 3px;
}

.coloredDate {
  color: #00a3ff;
}

.answerList {
  width: 100%;
  max-width: 450px;
  overflow-y: scroll;
}

.weekBox {
  position: relative;
}
