.answerForm {
  width: 300px;
}

.loginForm {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.loginButton {
  margin-top: 10px;
}

.app {
  position: relative;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryContainer {
  display: flex;
}

.categoryContainer > li > button {
  margin: 10px;
  padding: 10px;
}

.ct {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 30px;

  width: 80vw;
  max-width: 1040px;
  min-height: 70vh;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4 px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;

  overflow: hidden;
}

.answerInput {
  width: 100%;
  margin: 30px 0px !important;
}

.rates {
  margin-top: 20px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.commentInput {
  margin: 15px 0px !important;
}

.rateBtnBox {
  padding: 10px 0px;
}

.question {
  font-size: 24px !important;
  line-height: 36px !important;
}
@media (min-width: 320px) and (max-width: 510px) {
  .question {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .answerBtns {
    flex-direction: column;
  }
  .answerBtns button {
    margin: 5px 0px;
  }
}
.hide {
  display: none !important;
}

.rateButton {
  margin-right: 10px;
}
.rateBtn {
  margin: 0px 10px !important;
}

.myAnswerBtn,
.backBtn {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.arrowBackBtn {
  position: absolute !important;
  top: 10px;
  left: 10px;
}

.questionItem {
  width: 100%;
  margin-top: 20px;
}

.questionContent {
  width: 100%;
  word-break: break-all;
  line-height: 20px;
}

.answerBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.adminPage {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.adminInput {
  margin-top: 15px !important;
}

/* admin */
.adminMain {
  width: 80vw;
  height: 70vh;
}

.answerList {
}

.answerList > li {
  margin-top: 15px;
}
