.answerForm {
  width: 300px;
}

.loginForm {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.loginButton {
  margin-top: 10px;
}

.app {
  position: relative;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryContainer {
  display: flex;
}

.categoryContainer > li > button {
  margin: 10px;
  width: 80px;
}

.ct {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 30px;

  width: 80vw;
  max-width: 1040px;
  height: 80vh;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4 px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;

  overflow: hidden;
}

.answerInput {
  width: 100%;
  margin: 30px 0px !important;
}

.rates {
  margin-top: 20px !important;
}

.rateBtnBox {
  padding: 10px 0px;
}

.question {
  font-size: 24px !important;
  line-height: 36px !important;
}

.hide {
  display: none;
}
.rateButton {
  margin-right: 10px;
}
.rateBtn {
  margin: 0px 10px !important;
}

.myAnswerBtn,
.backBtn {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.questionItem {
  width: 100%;
  margin-top: 20px;
}

.questionContent {
  width: 100%;
  word-break: break-all;
}
