.main {
  width: 85vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.loginButton {
  margin-top: 10px;
}

.loginButtonList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginForm button {
  margin-top: 10px;
}

.loginTitle {
  margin: 15px 0 !important;
}

.logo {
  width: 96px;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
